@font-face {
    font-family: 'Aonic-Medium';
    src: url("/fonts/Aonic-Medium.ttf") format("truetype");
}

body {
    font-family: 'Aonic-Medium', Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

a {
    color: #1E90FF;
    text-decoration: none;
}